# Backend API Base URL
VITE_API_URL=http://localhost:5000/api

# Blockchain Node RPC URL (Read-only query / MetaMask integration)
VITE_RPC_URL=http://127.0.0.1:8545

# Deployed Smart Contract Address
VITE_CONTRACT_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3
